header{
	text-align: center;
}
header .upperHeader{
	padding-top: 10px;
	background-color: #161616;
	color: #fff;
}
header .lowerHeader{
	background-color: #0A4F3A;
	color: #fff;
}

#intro{
	background-image: url('../assets/img4.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}
#intro h1{
	margin: 8vw 17vw 0;
	font-size: 55px;
	font-weight: bold;
	text-align: center;
}
#intro p{
	margin: 0 15vw;
	font-size: 18px;
	text-align: center;
}
#intro button{
	position: relative;
	left: 44%;
	background-color: #0A4F3A;
	border: 0;
	font-size: 15px;
	margin-top: 2vw;
	padding: 7px 25px;
	border-radius: 15px;
	margin-bottom: 3vw;
	color: #fff;
}

#detail .text{
	padding-left: 12vw;
	padding-right: 13vw;
	padding-top: 5vw;
}
#detail h3{
	font-size: 28px;
	margin: 2vw 0;
}
#detail p, #detail li{
	font-size: 15px;
}

.gallery{
	margin: 1vw 12vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
input, textarea{
	display: block;
	margin-top: 1.75vw;
	width: 100%;
	padding: 8px;
}
input.btn-sub{
	position: relative;
	background-color: #0A4F3A;
	border: 0;
	font-size: 15px;
	font-weight: bold;
	margin-top: 3vw;
	padding: 10px 25px;
	border-radius: 15px;
	margin-bottom: 1vw;
	color: #fff;
}
textarea{
	height: 100px;
}
#upload_link{
	float: right;
}
#upload{
    display:none;
}
input[type=checkbox]{
	margin-top: 2vw;
	width: 5%;
	display: inline;
}
input:checked{
	color: #0A4F3A;
}
.captcha{
	font-size: 12px;
	text-align: center;
	margin-bottom: 3vw;
}
p.help{
	margin-top: 2vw;
	color: #888;
	font-size: 16px;
}
button.help{
	background-color: #0A4F3A;
	border: 0;
	font-size: 18px;
	margin-top: 3vw;
	padding: 7px 25px;
	border-radius: 15px;
	margin-bottom: 5vw;
	color: #fff;
}
h3.help{
	margin: 4vw 0 3vw;
}

#social .i1{
	position: relative;
	left: 45%;
	width: 55px;
}
#social .i2{
	position: relative;
	left: 45%;
	width: 45px;
}